<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A website for me">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="HuwPrG2d-DWhfK2ASQOw0HeEa8M9cKhzZYwNsQ5IE1I"/>
    <meta name="msvalidate.01" content="CD9C60A52824643707DE73E020BBDA92"/>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53J7LPL');

    </script>
    <!-- End Google Tag Manager -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53J7LPL"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<nav>
    <ul>
        <li>
            <a href="/">My Messages Home</a>
        </li>
    </ul>
</nav>
<article>
    <h1 class="article-title">
        {% block articletitle %}{% endblock %}
    </h1>
    <p class="article-lead-paragraph">
        {% block articlelead %}{% endblock %}
    </p>
    <p class="article-paragraph">
        {% block articleparagraph1 %}{% endblock %}
    </p>
</article>
<aside>
    {% block aside %}{% endblock %}
</aside>
<footer>
    <ul>
        <li><a href="/api/v0/my_message/add">Add a new random message</a></li>
        <li><a href="/api/v0/my_message/first">See the first message</a></li>
        <li><a href="/api/v0/my_message">See all the messages</a></li>
        <li><a href="/visitors">Get started with server-side analytics!</a> Show this link to your data scientists.</li>
    </ul>
</footer>
</body>
</html>
